.ADD {
    border: none;
    border-radius: 5px;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}
.ADD p {
    font-weight: normal;
    color: black;
    font-size: 20px;
}
.ADD .form-group input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 6px;
    width: 320px;
    text-align: left !important;
}
@media (max-width: 800px) {
    .ADD .form-group input {
        width: 270px;
    }
}
@media (max-width: 940px) {
    .ADD .form-group textarea {
        width: 340px;
    }
}
@media (max-width: 495px) {
    .ADD .form-group textarea {
        width: 240px;
    }
}
@media (max-width: 368px) {
    .ADD .form-group textarea {
        width: 200px;
    }
}
@media (max-width: 315px) {
    .ADD .form-group textarea {
        width: 170px;
    }
}
@media (max-width: 280px) {
    .ADD .form-group textarea {
        width: 140px;
    }
}
@media (max-width: 456px) {
    .ADD .form-group input {
        width: 210px;
    }
}
@media (max-width: 375px) {
    .ADD .form-group input {
        width: 160px;
    }
}
@media (max-width: 766px) {
    .add .str {
        margin-left: 30px;
    }
}
@media (max-width: 300px) {
    .ADD .form-group input {
        width: 120px;
    }
}
.add .str {
   text-align: center !important;
}
.add .str h1 {
    margin-left: 8px;
    font-weight: bold;
    font-size: 30px;
}
.add .str p {
    margin-left: 9px;
    color: rgb(63, 63, 63);
}
.ADD .form-group .ev {
    border: 1px solid #ccc;
    width: 100%;
}
.ADD .inpu {
    width: 160px;
}
/*
@media screen and (min-width:930px) and (max-width: 1272px) {
    .ADD .inpu {
        width: 200px;
    }
}*/
.ADD .form-group datalist option {
    text-align: left !important;
    padding: 2px !important;
}
.ADD .fa {
    padding: 10px;
    color: rgb(153, 151, 151);
    font-size: 30px;
}
.bold {
    font-weight: bold;
    font-size: 20px;
}
.ADD .form-group {
    width: 100%;
    margin: 0;
    border-radius: 5px !important;
    border: 1px solid #ccc;
    padding: 25px;
    background-color: var(--white-color);
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
}
.add .btn .button {
    margin: auto;
    padding: 14px;
    width: 180px;
    font-weight: bold;
    text-align: center !important;
    /*background-color: rgb(233, 102, 102);*/
    color: var(--white-color);
    border: 1px solid rgb(123, 150, 241);
    cursor: pointer;
}
